<div class="container">
  <h1>Add Post Wise Data</h1>
  <form #postForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="input">
      <label>Select Job</label>
      <select name="job_id" [(ngModel)]="job_id">
        <option *ngFor="let job of jobs" [value]="job.job_id">{{job.title}}</option>
      </select>
    </div>
    
    <div class="input">
      <label>Select Education</label>
      <select name="edu_id" [(ngModel)]="postModel.edu_id">
        <option *ngFor="let edu of education" [value]="edu.edu_id">{{edu.title}}</option>
      </select>
    </div>

    <div class="input">
      <label>Post Title</label>
      <input type="text" name="title" [(ngModel)]="postModel.title">
    </div>
    
    <div class="input">
      <label>Organisation</label>
      <input type="text" name="organisation" [(ngModel)]="postModel.organisation">
    </div>
    
    <div class="input">
      <label>Last Date to apply</label>
      <input type="date" name="date" [(ngModel)]="postModel.date">
    </div>
    <button type="submit">Add</button>
  </form>
</div>